<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IPPP!</title>
  <link rel="stylesheet" href="css/style.css">  

  <script>
    const lookup = <%- JSON.stringify(lookup) %>;
  </script>
  <script src="js/index.js"></script>
</head>  
<body>
  
</body>
</html>