@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 60px;
}

img {
    width: 300px;
    margin-bottom: 60px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 30px;
}